# Object files
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Debug files
*.pdb

# Powerpoint files
*.Powerpoint
*.pptx
*.ppt

# PDF files
*.pdf

