# Object files
*.o
*.obj

# VS Code
.vscode/

# Precompiled Headers
*.gch
*.pch

# Shared objects (inc. Windows DLLs)
*.dll

# Executables
*.exe

# Debug files
*.pdb

# Powerpoint files
*.Powerpoint
*.pptx
*.ppt

# PDF files
*.pdf

# Lyx, LaTeX
*.lyx
*.sty
*.bib
*.bbl
*.aux
*.blg
*.log
*.tex


