---
---

@import "{{ site.theme }}";

body {
    font-family: Helvetica, Arial, sans-serif;
    color: dark;
}

blockquote{
  font-size: 1.2em;
  width:75%;
  margin:30px auto;
  font-family: "Courier New";
  font-style:normal;
  color: #22200;
  padding:1.2em 25px 0.5em 50px;
  border-left:8px solid brown ;
  line-height:1.2;
  position:relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: brown;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:brown;
  font-style: normal;
  font-weight: bold;
  margin-top:0.5em;
}