---
---

@import "{{ site.theme }}";

body {
    font-family: Helvetica, Arial, sans-serif;
    //color: dark;
}

blockquote{
  font-size: 1.2em;
  width:75%;
  margin:30px auto;
  font-family:"Courier New";
  font-style:normal;
  color:#22200;
  padding:1.2em 25px 0.5em 50px;
  border-left:8px solid brown ;
  line-height:1.2;
  position:relative;
  background:#EDEDED;
}

blockquote::before{
  font-family:Arial;
  content:"\201C";
  color:brown;
  font-size:4em;
  position: absolute;
  left:10px;
  top:-10px;
}

blockquote::after{
  content:'';
}

blockquote span{
  display:block;
  color:brown;
  font-style: normal;
  font-weight: bold;
  margin-top:0.5em;
}

div {
  margin-bottom: 12px;
  padding: 0px 8px;
}

.danger {
  background-color: #ffdddd;
  border-left: 6px solid #f44336;
}

.success {
  background-color: #ddffdd;
  border-left: 6px solid #04AA6D;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196F3;
}

.warning {
  background-color: #ffcc66 ;
  border-left: 6px solid #ff9900;
}

.header {
  border: 1px solid brown;
  padding-left: 10px;
  padding-top: 10px;
  line-height: 1.4em;
}

.goodpractice {
  //background-color: lightgrey;
  background: url(../images/icons/check.png) no-repeat;
  background-size: 40px 40px;
  background-position: 8px center;
  padding-left: 35px;
  border: 1px solid #04AA6D;
}

// set img block auto
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

